{% extends "layout.html" %} {% block title %} Misc {% endblock %} {% block main
%}
<h1 class="text-center headers">Misc</h1>
<div class="misc-p-cont text-center">
  <img
    class="misc-p-pic"
    src="/static/images/asmr-beach-tropical.jpg"
    alt="Tropical Beach Waves With Island in Center"
  />
  <p class="misc-p">
    ASMR can fall into many catagories. It's all about how something makes you
    feel, so many unique things may give you the sensation. What else can you
    think of that may be considered unconventional ASMR?
  </p>
</div>
<br />
<div class="text-center">
  <h2 id="recipes-link">ASMR Popular Food Recipes</h2>
  <div class="recipes-cont">
    <dl class="recipes-list-cont r-flex-item">
      <dt class="lists-font-size r-list-item">Fried Cheese Balls</dt>
      <dd>
        <img
          src="/static/images/asmr-cheese-ball.jpg"
          width="100"
          height="100"
          alt="Fried Cheese Ball"
        />
      </dd>
      <dt class="lists-font-size r-list-item">Enoki Mushrooms</dt>
      <dd>
        <img
          src="/static/images/asmr-enoki-mushrooms.jpg"
          width="100"
          height="100"
          alt="White Enoki Mushrooms"
        />
      </dd>
      <dt class="lists-font-size r-list-item">Tanghulu Fruit</dt>
      <dd>
        <img
          src="/static/images/asmr-tanghulu.jpg"
          width="100"
          height="100"
          alt="Sugar Coated Fruit Sticks"
        />
      </dd>
      <dt class="lists-font-size r-list-item">Seafood Boil</dt>
      <dd>
        <img
          src="/static/images/asmr-seafood-boil.jpg"
          width="100"
          height="100"
          alt="Seafood Boiling"
        />
      </dd>
      <dt class="lists-font-size r-list-item">Spring Rolls</dt>
      <dd>
        <img
          src="/static/images/asmr-spring-rolls.jpg"
          width="100"
          height="100"
          alt="Lettuce Spring Rolls"
        />
      </dd>
      <dt class="lists-font-size r-list-item">Korean Corn Dogs</dt>
      <dd>
        <img
          src="/static/images/asmr-corn-dog.jpg"
          width="100"
          height="100"
          alt="Corn Dog With Condiments"
        />
      </dd>
    </dl>
    <div class="r-flex-item recipes-text">
      <h4 class="recipes-h4">Fried Cheese Balls</h4>
      <div class="div-color">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/wwyx0ak7520"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <a
        class="lists-a-font-size"
        target="_blank"
        href="https://youtu.be/wwyx0ak7520"
        >Link to Video Recipe</a
      >
      <h4 class="recipes-h4">Enoki Mushrooms</h4>
      <div class="div-color">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JnFmqeJ1j0k"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <a
        class="lists-a-font-size"
        target="_blank"
        href="https://youtu.be/JnFmqeJ1j0k"
        >Link to Video Recipe</a
      >
      <h4 class="recipes-h4">Tanghulu Fruit</h4>
      <div class="div-color">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/MZC_xwpHJPo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
      <a
        class="lists-a-font-size"
        target="_blank"
        href="https://www.youtube.com/watch?v=MZC_xwpHJPo"
        >Link to Video Recipe</a
      >
      <h4 class="recipes-h4">Seafood Boil</h4>
      <div class="div-color">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/2P-hs6VHN-w"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <a
        class="lists-a-font-size"
        target="_blank"
        href="https://youtu.be/2P-hs6VHN-w"
        >Link to Video Recipe</a
      >
      <h4 class="recipes-h4">Spring Rolls</h4>
      <div class="div-color">
        <header class="misc-header">INGREDIENTS</header>
        <span class="misc-span" id="rolls"></span
        ><span class="misc-span" id="more-rolls">
          <dl>
            <dt class="lists-font-size">1 package spring roll rice wrappers</dt>
            <dd class="lists-font-size">
              found in the Asian foods section at the grocery store
            </dd>
            <dt class="lists-font-size">1 package vermicelli rice noodles</dt>
            <dd class="lists-font-size">
              found in the Asian foods section at the grocery store
            </dd>
            <dt class="lists-font-size">1 large carrot</dt>
            <dd class="lists-font-size">
              peeled and shredded or sliced into thin strips
            </dd>
            <dt class="lists-font-size">1 large English cucumber</dt>
            <dd class="lists-font-size">peeled and thinly sliced</dd>
            <dt class="lists-font-size">1 pound small, cooked shrimp</dt>
            <dd class="lists-font-size">
              deveined, tails removed, or substitute chicken
            </dd>
            <dt class="lists-font-size">1 bunch fresh mint leaves</dt>
            <dt class="lists-font-size">1 bunch fresh basil leaves</dt>
            <dt class="lists-font-size">1 bunch fresh cilantro</dt>
          </dl>
          <header class="misc-header text-center">PEANUT SAUCE</header>
          <ul class="peanut-list">
            <li class="lists-font-size">3/4 cup sweet chili sauce</li>
            <li class="lists-font-size">
              1/3 cup peanut butter - smooth or crunchy
            </li>
            <li class="lists-font-size">1/2 teaspoon low-sodium soy sauce</li>
            <li class="lists-font-size">1/2 teaspoon hoisin sauce</li>
            <li class="lists-font-size">
              Add all ingredients to a food processor<br />
              or blender and pulse until smooth
            </li>
          </ul></span
        >
        <button class="button-looks" onclick="myFunction2()" id="myBtn2">
          Read more
        </button>
        <header class="misc-header">INSTRUCTIONS</header>
        <span class="misc-span" id="rolls-inst"></span
        ><span class="misc-span" id="more-rolls-inst">
          <ol>
            <li class="lists-font-size">
              Cook vermicelli noodles in boiling water, for just a few minutes,
              according to package instructions. Drain and rinse with cold
              water.
            </li>
            <li class="lists-font-size">
              Gather all topping ingredients together, including chopped
              veggies, herbs, cooked shrimp.
            </li>
            <li class="lists-font-size">
              Add about 1 inch of water to a large, deep dish, or pie pan. Place
              one rice wrapper into the water and let soak for just 10-15
              seconds. It should still feel pretty firm as you remove it and lay
              it on your counter or plate.
            </li>
            <li class="lists-font-size">
              (It will soften up as you add the filling ingredients, but If you
              let it soak for too long it will get too soft and will tear when
              you roll it up.)
            </li>
            <li class="lists-font-size">
              Layer 1-2 slices of each veggie, a few shrimp, a few leaves of
              each herb and a pinch of noodles on the ⅓ of the spring roll that
              is closest to you.
            </li>
            <li class="lists-font-size">
              Fold the sides of the spring roll in over the ingredients. Then
              pull the side closest to you up and over the ingredients, sealing
              everything together tightly, and rolling it up like a burrito.
            </li>
          </ol>
        </span>
        <button class="button-looks" onclick="myFunction3()" id="myBtn3">
          Read more
        </button>
      </div>
      <a
        class="lists-a-font-size"
        target="_blank"
        href="https://tastesbetterfromscratch.com/fresh-spring-rolls/"
        >Link to Recipe</a
      >
      <h4 class="recipes-h4">Korean Corn Dogs</h4>
      <div class="div-color">
        <header class="misc-header">INGREDIENTS</header>
        <span class="misc-span" id="dogs"></span
        ><span class="misc-span" id="more-dogs">
          <dl>
            <dt class="lists-font-size">
              6 hot dogs, sausages or mozzarella sticks
            </dt>
            <dd class="lists-font-size">
              for mozzarella, cut sticks 1-inch wide and 4 1/2 inches long and
              make sure to use low moisture mozzarella; for sausages and hot
              dogs, use precooked ones
            </dd>
            <dt class="lists-font-size">
              3 pairs disposable wooden chopsticks
            </dt>
            <dt class="lists-font-size">1 cup panko breadcrumbs</dt>
            <dt class="lists-font-size">oil</dt>
            <dd class="lists-font-size">for frying</dd>
            <dt class="lists-font-size">granulated sugar</dt>
            <dd class="lists-font-size">for coating</dd>
            <dt class="lists-font-size">ketchup, mustard, spicy mayonnaise</dt>
            <dd class="lists-font-size">
              other hot dog condiments of your choice
            </dd>
          </dl>
          <header class="misc-header">BATTER</header>
          <ul class="batter-list">
            <li class="lists-font-size">1 1/4 cup all purpose flour</li>
            <li class="lists-font-size">2 tbsp granulated white sugar</li>
            <li class="lists-font-size">1/2 tsp salt</li>
            <li class="lists-font-size">2 tsp baking powder</li>
            <li class="lists-font-size">125 ml fat free milk - cold</li>
            <li class="lists-font-size">
              1 large egg - straight from refrigerator
            </li>
          </ul>
        </span>
        <button class="button-looks" onclick="myFunction()" id="myBtn">
          Read more
        </button>
        <header class="misc-header">INSTRUCTIONS</header>
        <span class="misc-span" id="dogs-inst"></span
        ><span class="misc-span" id="more-dogs-inst">
          <ol>
            <li class="lists-font-size">
              Break disposable wooden chopsticks apart and skewer your hot dogs,
              sausage or mozzarella. I made some with sausages, a few with
              cheese, and a few that are half sausage and half cheese.
            </li>
            <li class="lists-font-size">
              Pat dry the hot dogs, sausage and cheese and place into fridge to
              keep cold while making batter.
            </li>
            <li class="lists-font-size">
              Add flour, sugar, salt and baking powder to a large bowl. Whisk
              until evenly blended. Add in milk and egg. Whisk all the
              ingredients together until smooth. The batter should be very thick
              and sticky. When you lift your whisk, the batter should not run
              off it. You do not want the batter to be runny because then the
              batter will run off the hot dogs when you coat them. Make sure to
              use egg and milk straight from the fridge so that the batter is
              cold when it's finished. If your kitchen is really warm, you may
              need to refrigerate the batter briefly to get it cold.
            </li>
            <li class="lists-font-size">
              Pour the batter into a loaf pan. This will make it easier to coat
              the entire hot dog at once since you should be able fit all of it
              inside the loaf pan. In a separate loaf pan, add panko.
            </li>
            <li class="lists-font-size">
              Pour oil into pan being used for frying. You want to add enough
              oil so that it is deep enough to cover the entire hot dog once the
              hot dog is placed in. Bring oil to about 350°F.
            </li>
            <li class="lists-font-size">
              Remove skewers from fridge. To coat, turn the hot
              dog/sausage/cheese a few times in the batter until it is coated.
              You can then use your fingers to help evenly spread out the batter
              or remove some of the batter if your coating is too thick. Keep in
              mind that your batter will expand once it is fried so you don't
              want your coating to be too thick. Make sure your hot
              dog/sausage/cheese is completely sealed in batter.
            </li>
            <li class="lists-font-size">
              Roll the hot dog in panko breadcrumbs. While the sticky batter
              will pick up some of the breadcrumbs, I also like to sprinkle and
              press more on with my hands to make sure every crevice is covered
              in panko.
            </li>
            <li class="lists-font-size">
              Working quickly, repeat with remaining hot dogs/sausages/cheese.
              If it is taking you a while to coat, keep coated ones in fridge.
              You should especially keep any cheese only ones in fridge until
              ready to fry. You should have enough batter for at least 6 hot
              dogs.
            </li>
            <li class="lists-font-size">
              Add 2-3 hot dogs to the hot oil at a time. Cook a few minutes on
              both sides, until batter is dark golden brown and batter is fully
              cooked.
            </li>
            <li class="lists-font-size">
              Sprinkle hot dogs with sugar. Drizzle with condiments of your
              choice.
            </li>
          </ol>
        </span>
        <button class="button-looks" onclick="myFunction1()" id="myBtn1">
          Read more
        </button>
      </div>
      <a
        class="lists-a-font-size"
        target="_blank"
        href="https://kirbiecravings.com/korean-hot-dogs/"
        >Link to Recipe</a
      >
    </div>
  </div>
  <br />
  <h2 id="unintentional-asmr-link">Unintentional ASMR</h2>
  <div class="unintent-music-cont">
    <img
      class="unintent-music-pic"
      src="/static/images/asmr-blue-rose.jpg"
      alt="Blue Rose With Dew"
    />
    <p class="p-misc-unintent-music">
      Sometimes music can have a strong effect on our mind and spirit, often
      called 'Musical Frisson'. It can give you chills, make you exude emotion,
      change your mood, make you dance involuntarily, or even put you to sleep.
      Here are some artists/songs that have had that effect on people(myself
      included). While some would not consider music as completely ASMR, it can
      have a similar effect on some. Music tastes are very subjective, and some
      people do not get effected by music as easily as others.
    </p>
  </div>
  <br />
  <div>
    <div class="misc-unintent-videos-cont">
      <h3 class="text-center unintent-header">PENTATONIX</h3>
      <p class="p-misc-unintent-music pentatonix-blurb">
        I'll admit I have a 'small' obsession with Pentatonix, but I do honestly
        believe that part of their popularity is because of the harmonics they
        create with their voices which are very condusive to ASMR tingles and
        chills or musical frission.
      </p>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/sp7PS_UN8Lo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/sp7PS_UN8Lo"
          >Pentatonix - Run To You</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/YSkHIv7GhOM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/YSkHIv7GhOM"
          >Pentatonix - Can't Help Falling In Love</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/m4VGPIZ_wwo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/m4VGPIZ_wwo"
          >Pentatonix - I Just Called To Say I Love You</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/o10drRI3VQ0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/o10drRI3VQ0"
          >Pentatonix - White Winter Hymnal</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/LawDrrr8dGk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/LawDrrr8dGk"
          >Pentatonix - Light In The Hallway</a
        >
      </div>
    </div>
    <br />
    <div class="misc-unintent-videos-cont">
      <h3 class="text-center unintent-header misc-h3">Other Songs/Artists</h3>
      <br />
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/7wfYIMyS_dI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/7wfYIMyS_dI"
          >Enya - Only Time</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/bPCdsa7hS7M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/bPCdsa7hS7M"
          >Enya - Watermark</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/UrIiLvg58SY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/UrIiLvg58SY"
          >Extreme - More Than Words</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/kX5xIp7erJ0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/kX5xIp7erJ0"
          >The Beach Boys - Vegetables</a
        >
      </div>
      <div class="video-item">
        <iframe
          width="350"
          height="300"
          src="https://www.youtube.com/embed/viimfQi_pUw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <a
          class="a-links-videos text-center"
          target="_blank"
          href="https://youtu.be/viimfQi_pUw"
          >Billie Eilish - Ocean Eyes</a
        >
      </div>
    </div>
  </div>
</div>
<script>
  function myFunction() {
    var dogs = document.getElementById("dogs");
    var moreText = document.getElementById("more-dogs");
    var btnText = document.getElementById("myBtn");

    if (dogs.style.display === "none") {
      dogs.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      dogs.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }

  function myFunction1() {
    var dogs = document.getElementById("dogs-inst");
    var moreText = document.getElementById("more-dogs-inst");
    var btnText = document.getElementById("myBtn1");

    if (dogs.style.display === "none") {
      dogs.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      dogs.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }

  function myFunction2() {
    var rolls = document.getElementById("rolls");
    var moreText = document.getElementById("more-rolls");
    var btnText = document.getElementById("myBtn2");

    if (rolls.style.display === "none") {
      rolls.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      rolls.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }

  function myFunction3() {
    var rolls = document.getElementById("rolls-inst");
    var moreText = document.getElementById("more-rolls-inst");
    var btnText = document.getElementById("myBtn3");

    if (rolls.style.display === "none") {
      rolls.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      rolls.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }
</script>
{% endblock %}
