{% extends "layout.html" %} {% block title %} Sounds {% endblock %} {% block
main %}
<header class="text-center">
  <h1 class="headers">Sounds</h1>
</header>

<div class="sounds-p-cont text-center">
  <img
    class="sounds-p-pic"
    src="/static/images/asmr-sheetmusic.jpg"
    alt="..."
  />
  <p class="sounds-p">
    Different sounds have the ability to effect our mood, or even trigger a
    memory. Pleasant sounds, or sounds we percieve as calming or pleasing, can
    relax us. While negative or harsh sounds can increase anxiety, stress, and
    have a negative effect on our mood. What is pleasant to some may not be to
    all who hear it, so this is quite subjective.
  </p>
</div>
<br />
<div class="sounds-cont">
  <div class="sounds-items text-center">
    <header id="tapping-link" class="sounds-headers">Tapping</header>
    <a target="_blank" class="audio-links" href="https://youtu.be/622T_ebobaU"
      >Fast not aggressive tapping</a
    >
    <audio controls>
      <source src="/static/sounds/asmr-tapping-clip1.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
    <a target="_blank" class="audio-links" href="https://youtu.be/0EaAMqR5OGk"
      >Tapping for People Who Get Bored</a
    ><br />
    <audio controls>
      <source src="/static/sounds/asmr-tapping2-clip.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header class="sounds-headers">Scratching</header>
    <a target="_blank" class="audio-links" href="https://youtu.be/qcC9TzxlBI8"
      >The Ultimate Scratching</a
    >
    <audio controls>
      <source src="/static/sounds/asmr-scratching-clip.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
    <a target="_blank" class="audio-links" href="https://youtu.be/OivPOnQcxpk"
      >Microphone scratching with long nails</a
    ><br />
    <audio controls>
      <source src="/static/sounds/asmr-scratching-full.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header id="whispers-link" class="sounds-headers">Whispers</header>
    <a
      target="_blank"
      class="audio-links"
      href="https://pixabay.com/sound-effects/search/asmr/"
      >Woman Whispering-vero.marengere</a
    >
    <audio controls>
      <source src="/static/sounds/asmr-whispering-pix.mp3" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
    <a
      target="_blank"
      class="audio-links"
      href="https://youtu.be/zQi8GugHJzs?list=PL6LjLUQJEXrqPXqvlz8CQmJQ86Hi2pWR2"
      >Positive Affirmations (valley girl)</a
    ><br />
    <audio controls>
      <source
        src="/static/sounds/asmr-goodnight-moon-stylist-clip.wav"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header id="crinkling-link" class="sounds-headers">Crinkling</header>
    <a target="_blank" class="audio-links" href="https://youtu.be/a1yfJo_sYR0"
      >Slow & Gentle Crinkle Sounds for Sleep</a
    ><br />
    <audio controls>
      <source src="/static/sounds/asmr-crinkling-clip.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
    <a
      target="_blank"
      class="audio-links"
      href="https://pixabay.com/sound-effects/search/asmr/"
      >Plastic Bag Crinkle-gmodeath</a
    >
    <audio controls>
      <source
        src="/static/sounds/asmr-plastic-bag-crinkle-pix.mp3"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header id="calming-music-link" class="sounds-headers">
      Calming Music
    </header>
    <a target="_blank" class="audio-links" href="https://youtu.be/3pGwlKjpdfc"
      >Enchanting Forest/Magical Celtic Music</a
    ><br />
    <audio controls>
      <source
        src="/static/sounds/asmr-celtic-music-clip.wav"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
    <a
      target="_blank"
      class="audio-links"
      href="https://youtu.be/rrVDATvUitA?list=PL9PqVRbzGoibU4nDs_0RCfyw7BIC_p5mI"
      >Air - Johann Sebastian Bach</a
    >
    <audio controls>
      <source
        src="/static/sounds/asmr-classical-music-clip.wav"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header id="nature-sounds-link" class="sounds-headers">
      Nature Sounds
    </header>
    <a
      target="_blank"
      class="audio-links"
      href="https://youtu.be/__GhrWO_mg4?list=PL6LjLUQJEXrpVbGKe3uiXgVG_J79Qm_SL"
      >A Stay at the Cozy Babblebrook Inn</a
    ><br />
    <audio controls>
      <source
        src="/static/sounds/nature-sounds-clip-goodnight-moon.wav"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
    <a
      target="_blank"
      class="audio-links"
      href="https://pixabay.com/sound-effects/search/asmr/"
      >Relaxing Rain-ArNi World</a
    >
    <audio controls>
      <source
        src="/static/sounds/asmr-relaxing-rain-pix.mp3"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header id="typing-link" class="sounds-headers">Typing</header>
    <a target="_blank" class="audio-links" href="https://youtu.be/0eXRpXj7UsQ"
      >Fast Typing for Studying, Works, Relaxing</a
    ><br />
    <audio controls>
      <source src="/static/sounds/asmr-typing-clip.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
    <a
      target="_blank"
      class="audio-links"
      href="https://pixabay.com/sound-effects/search/asmr/"
      >Keyboard Typing-Dasgoat</a
    >
    <audio controls>
      <source
        src="/static/sounds/asmr-keyboard-typing-pix.mp3"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header id="eating-link" class="sounds-headers">Eating/Drinking</header>
    <a
      target="_blank"
      class="audio-links"
      href="https://www.youtube.com/watch?v=e2IaUaUgN7U"
      >Eating Blue Takis Onion Rings</a
    ><br />
    <audio controls>
      <source
        src="/static/sounds/asmr-eating-onion-rings-clip.wav"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
    <a
      target="_blank"
      class="audio-links"
      href="https://www.youtube.com/watch?v=P9GxszGb5iU"
      >Eating Pani Puri Golgappa</a
    >
    <audio controls>
      <source
        src="/static/sounds/asmr-eating-pani-puri-clip.wav"
        type="audio/wav"
      />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
  <div class="sounds-items text-center">
    <header class="sounds-headers">Drawing/Writing</header>
    <a target="_blank" class="audio-links" href="https://youtu.be/1sezXWioYq8"
      >Quietly Sketching Next to You</a
    ><br />
    <audio controls>
      <source src="/static/sounds/asmr-drawing-clip.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
    <a target="_blank" class="audio-links" href="https://youtu.be/foVcH_g8Uyo"
      >Drawing random things</a
    ><br />
    <audio controls>
      <source src="/static/sounds/asmr-writing-clip.wav" type="audio/wav" />
      Your browser does not support the audio element.</audio
    ><br />
  </div>
</div>
<br />
<h2 id="musical-frisson-link" class="text-center">Musical Frisson</h2>
<section>
  <div class="text-center sounds-frisson-cont">
    <img
      class="sounds-frisson-pic"
      src="/static/images/asmr-music.jpg"
      alt="Sheet Music with Red Rose Picture"
    />
    <p class="sounds-frisson-p">
      The phenomenon of chills or goosebumps that come from a piece of music (or
      from any other aesthetic experience) is called
      <a
        target="_blank"
        href="https://www.discovery.com/science/Getting-Chills-from-Music"
        >frisson</a
      >, and it's been one of the big mysteries of human nature since it was
      first described.
    </p>
  </div>
  <br />
  <div class="frisson-iframe-cont">
    <p class="p-frisson text-center">
      Here are some clips from selected song that may trigger the frisson
      effects.
    </p>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/FSSx9Z7-dJQ?clip=UgkxmA_SpIFY6UgyIb_tXnyjIqIv4xikBrsx&amp;clipt=EKjXGxiHrB8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/FSSx9Z7-dJQ"
        >Chopin - Piano Concerto no. 1 in E minor</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/KtMnDmuhKQs?clip=Ugkx0ShfdDwtGktEeRVFVe_rMG9mZGWpzpeh&amp;clipt=ENa5CRi2jg0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/KtMnDmuhKQs"
        >Hans Zimmer - Oogway Ascends</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/0dYlvdLdK9w?clip=UgkxMszG_OO65E-QaN9zEy2b-TI8EHmSkdgc&amp;clipt=ELKIChjXjw0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/0dYlvdLdK9w"
        >Pentatonix - Say Something</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/XNioG5anmBE?clip=UgkxUJcXqYRFFU-TZTKYRjfNh4fk6U63rtIu&amp;clipt=EPjgDRjXtRE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/XNioG5anmBE"
        >Des'ree - Kissing You</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/MdBws54ZHyY?clip=Ugkxru7ErXixq_JiCEVbXCFbilgh6YcnLgPh&amp;clipt=EJCaCRi-7As"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/MdBws54ZHyY"
        >Kelly Clarkson It's Quiet Uptown</a
      >
    </div>
  </div>
</section>
{% endblock %}
