{% extends "layout.html" %} {% block title %} Videos {% endblock %} {% block
main %}
<header class="text-center headers">Videos</header>
<div class="videos-p-cont text-center">
  <img
    class="videos-p-pic"
    src="/static/images/asmr-iceland.jpg"
    alt="Iceland Waterfall Picture"
  />
  <p class="videos-p">
    Here are some of my favorite ASMR Artists or very popular ASMR Artists that
    I think you might enjoy. You can search for other content creaters on
    YouTube by typing ASMR in the search bar or even clicking right
    <a target="_blank" href="https://www.youtube.com/results?search_query=asmr"
      >here</a
    >
    , which will direct you to YouTube's ASMR keyword search. You could add
    other keywords to refine your searches. like:
    <a
      target="_blank"
      href="https://www.youtube.com/results?search_query=asmr+eating"
      >eating</a
    >,
    <a
      target="_blank"
      href="https://www.youtube.com/results?search_query=asmr+mukbang"
      >mukbang</a
    >,
    <a
      target="_blank"
      href="https://www.youtube.com/results?search_query=asmr+whispering"
      >whispering</a
    >,
    <a
      target="_blank"
      href="https://www.youtube.com/results?search_query=asmr+tapping"
      >tapping</a
    >,
    <a
      target="_blank"
      href="https://www.youtube.com/results?search_query=asmr+roleplay"
      >roleplay</a
    >,
    <a
      target="_blank"
      href="https://www.youtube.com/results?search_query=asmr+noodles"
      >noodles</a
    >,
    <a
      target="_blank"
      href="https://www.youtube.com/results?search_query=asmr+typing"
      >typing</a
    >, and many more!
  </p>
</div>
<div class="videos-big-container">
  <header class="text-center">
    <a
      class="a-links-videos"
      target="_blank"
      href="https://www.youtube.com/channel/UClMJgjg2z_IrRm6J9KrhcuQ"
      >Goodnight Moon</a
    >
  </header>
  <div class="videos-cont">
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/A91Rgu13llU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/A91Rgu13llU"
        >Afternoon at the Herbologist's Greenhouse</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/__GhrWO_mg4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/__GhrWO_mg4"
        >A Stay at the Cozy Babblebrook Inn</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/gSy-ySbmtTk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/gSy-ySbmtTk"
        >Quite a Strange Haircut</a
      >
    </div>
  </div>
  <header class="text-center">
    <a
      class="a-links-videos"
      target="_blank"
      href="https://www.youtube.com/c/GibiASMR"
      >Gibi ASMR</a
    >
  </header>
  <div class="videos-cont">
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/EEF0pg9hSpQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/EEF0pg9hSpQ"
        >Fastest ASMR/Dentist, Eye, Ear Exam</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/B1NXNlXFViY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/B1NXNlXFViY"
        >Cranial Nerve Exam</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/hi3mReQ8CGc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/hi3mReQ8CGc"
        >Fastest Medical ASMR/Everything is Wrong!</a
      >
    </div>
  </div>
  <header class="text-center">
    <a
      class="a-links-videos"
      target="_blank"
      href="https://www.youtube.com/c/ASMRDarling1"
      >ASMR Darling</a
    >
  </header>
  <div class="videos-cont">
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/DaXwnTk0hUE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/DaXwnTk0hUE"
        >ASMR 20 Triggers To Help You Sleep</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/CkimIaCVVGU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/CkimIaCVVGU"
        >ASMR Doing Your Makeup</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/JdWb-cIwfJ4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/JdWb-cIwfJ4"
        >ASMR Putting You To Sleep</a
      >
    </div>
  </div>
  <header class="text-center">
    <a
      class="a-links-videos"
      target="_blank"
      href="https://www.youtube.com/c/TingtingASMR"
      >Tingting ASMR</a
    >
  </header>
  <div class="videos-cont">
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/t594X_5KKMo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/t594X_5KKMo"
        >ASMR Sleep Recovery-Hair Treatments</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/CH_kaFcKDzY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/CH_kaFcKDzY"
        >ASMR Sleep in 25 Minutes-Intense Relaxation</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/5HJn2130j_Y"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/5HJn2130j_Y"
        >ASMR Chinese Herbal Shop Roleplay</a
      >
    </div>
  </div>
  <br />
  <h3 id="eating-videos-link" class="text-center">
    ASMR Eating/Mukbang Videos
  </h3>
  <header class="text-center">
    <a
      class="a-links-videos"
      target="_blank"
      href="https://www.youtube.com/c/HunniBeeASMR"
      >HunniBee ASMR</a
    >
  </header>
  <div class="videos-cont">
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/K_Q5-UocHdE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/K_Q5-UocHdE"
        >Edible Champagne Bottle, Spoons, Brush</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/R_bkHPK2I-k"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/R_bkHPK2I-k"
        >Candies Oranges, Strawberries, Grape, Kiwi</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/fjC4foa8jnw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/fjC4foa8jnw"
        >Edible Gold Bars, 24 Karat Gold Honeycomb</a
      >
    </div>
  </div>
  <header class="text-center">
    <a
      class="a-links-videos"
      target="_blank"
      href="https://www.youtube.com/c/%ED%91%B8%EB%A9%94Fume"
      >Fume</a
    >
  </header>
  <div class="videos-cont">
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/D_Bpu_RRI90"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/D_Bpu_RRI90"
        >Cheesy Corn Dog with Extra Cheese Sauce</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/Snf4BBal2UY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/Snf4BBal2UY"
        >Carbo Spicy Noodles Crispy Fried Shrimp</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/N70__aXoCBA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/N70__aXoCBA"
        >Spicy Food Combo</a
      >
    </div>
  </div>
  <header class="text-center">
    <a
      class="a-links-videos"
      target="_blank"
      href="https://www.youtube.com/c/ZachChoi"
      >Zach Choi ASMR</a
    >
  </header>
  <div class="videos-cont">
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/JkGx1vojCDM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/JkGx1vojCDM"
        >Most Popular Food For ASMR</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/ibDsq2ffTk0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/ibDsq2ffTk0"
        >Galaxy Honeycomb, Jelly Noodles</a
      >
    </div>
    <div class="video-item">
      <iframe
        width="350"
        height="300"
        src="https://www.youtube.com/embed/_pBAo_erTSM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a
        class="a-links-videos text-center"
        target="_blank"
        href="https://youtu.be/_pBAo_erTSM"
        >Hot Cheetos Hash Browns Mukbang</a
      >
    </div>
  </div>
  <br />
</div>
<div class="videos-list text-center">
  <h1>Here are some more ASMR video suggestions, if you feel inclined.</h1>
  <br />
  <dl>
    <dt>
      <a target="_blank" href="https://youtu.be/UgHKb_7884o">Fireplace</a>
    </dt>
    <dd class="videos-dd">
      12 HOURS of Relaxing Fireplace Sounds - Burning Fireplace & Crackling Fire
      Sounds (NO MUSIC)
    </dd>
    <dt><a target="_blank" href="https://youtu.be/mPZkdNFkNps">Rain</a></dt>
    <dd class="videos-dd">
      Rain Sound On Window with Thunder SoundsㅣHeavy Rain for Sleep, Study and
      Relaxation, Meditation
    </dd>
    <dt>
      <a target="_blank" href="https://youtu.be/3clqk2U3T9Y">Kinetic Sand</a>
    </dt>
    <dd class="videos-dd">
      Very Satisfying and Relaxing Compilation 148 Kinetic Sand ASMR
    </dd>
    <dt><a target="_blank" href="https://youtu.be/1CsWzC2A0Is">Soap</a></dt>
    <dd class="videos-dd">
      1 HOUR Soap Carving ASMR Relaxing Sounds (no talking) Satisfying ASMR
      Video
    </dd>
    <dt>
      <a target="_blank" href="https://youtu.be/GG6jk7vHzWo">Pretend-Makeup</a>
    </dt>
    <dd class="videos-dd">ASMR Wooden Makeup on Mannequin (Whispered)</dd>
    <dt id="make-up-link">
      <a target="_blank" href="https://youtu.be/4FP91sRezE0">Makeup</a>
    </dt>
    <dd class="videos-dd">
      ASMR New Golden Glam Makeup on Mannequin - PatMcGrath, Gucci, Huda & More
      (Whispered)
    </dd>
  </dl>
</div>
{% endblock %}
